# Values template-init.sh replaces on first use. Deleted by the init run.
OLD_NAME='template-ts-package'
OLD_SNAKE='template_ts_package'
OLD_DESC='TypeScript package template with CI, releases and docs.'
OLD_YEAR='2026'
OLD_STACK_LABEL='TypeScript package'
